body {
	font-family: "PT Sans Narrow";
	color:#000;
	font-weight: bold;
	}
	
h1 {
	font-size: 30px;
	line-height: 42px;
	text-transform: uppercase;
   }
	
h2 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
   }